GOOGLE_CLIENT_ID=tu-client-id.apps.googleusercontent.com
FRONTEND_URL=http://localhost:5173
DEFAULT_FROM_EMAIL=no-reply@restaurantpos.local
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
BACKEND_URL=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_PUBLIC_KEY=
